/* common.css - Turku University, Course Virtual Machine site
 * 10.11.2019 // Jani Tammi <jasata@utu.fi>
 * Style common to whole site. Include also "index.css" for "index.html" or
 * "subpage.css" for all other pages.
 */
:root
{
    --utu-purple:           #8b5dcb;
    --page-bg-color:        #f2f2f2;
    --text-color:           Black;
    --content-bg-color:     White;
    --header-bg-color:      White;
    --header-height:        9.0vw;
    --footer-link-color:    var(--utu-purple);
    --footer-bg-color:      Black;
    --footer-height:        5.5vw;
}

/* page basics ***************************************************************/
html
{
    font-family:            Verdana, Geneva, Tahoma, sans-serif;
    position:               relative;
    min-height:             100%;
}
body
{
    background-color:       var(--page-bg-color);

    position:               relative;
    margin:                 0;
    padding:                0;
    /* Allow footer to stay at the bottom by making the page
       as tall as the view port */
    min-height:             100vh;
    /* Reserve space for footer, so that our content will not
       go underneath it */
    padding-bottom:         calc(var(--footer-height) + 2.0rem);
}
a:link
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:visited
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:hover
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:active
{
    color:                  var(--text-color);
    text-decoration:        none;
}
/* Page basics END ***********************************************************/




/******************************************************************************
 *
 * Footer style
 * https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 * flex:  shorthand for flex-grow, flex-shrink and flex-basis
 *        Default is 0 1 auto.
 */
footer
{
    position:               absolute;
    bottom:                 0;
    width:                  100%;
    height:                 var(--footer-height);
    background-color:       var(--footer-bg-color);
    /* Flex container */
    display:                flex;
    flex-direction:         row;
    flex-wrap:              nowrap;
    justify-content:        space-between;
    align-items:            baseline;
    align-content:          center;
}
footer > div:nth-child(1)
/* UTU logo flex-item */
{
    order:                  1;
    flex:                   0 0 auto;
    width:                  auto;
    height:                 var(--footer-height);
    max-height:             var(--footer-height);
}
footer > div:nth-child(1) > img
/* UTU logo image */
{
    width:                  auto;
    height:                 var(--footer-height);
    max-height:             var(--footer-height);
}
footer > div:nth-child(2)
/* Copyright text flex-item */
{
    order:                  2;
    flex:                   1 0 auto;
    font-size:              1.1vw;
    color:                  White;
}
footer > div:nth-child(2) > a:link
{
    color:                  White;
    text-decoration:        none;
}
footer > div:nth-child(2) > a:visited
{
    color:                  White;
    text-decoration:        none;
}
footer > div:nth-child(2) > a:hover
{
    color:                  var(--utu-purple);
    text-decoration:        none;
}
footer > div:nth-child(2) > a:active
{
    color:                  White;
    text-decoration:        none;
}
footer > div:nth-child(3)
/* Footer links flex-item */
{
    order:                  3;
    flex:                   1 1 auto;
    display:                -webkit-box;
    display:                -ms-flexbox;
    display:                flex;
    -webkit-box-align:      center;
    -ms-flex-align:         center;
    align-items:            center;
    -webkit-box-pack:       center;
    -ms-flex-pack:          center;
    justify-content:        center;
}
footer > div:nth-child(3) > a
{
    text-decoration:        none;
    color:                  var(--footer-link-color);
    font-size:              1.6vw;
    font-weight:            bold;
    margin-right:           0.3vw;
    margin-left:            0.3vw;
}
footer > div:nth-child(3) > a:after
{
    content:                " | ";
}
footer > div:nth-child(3) > a:first-child:before
{
    content:                " ";
}
footer > div:nth-child(3) > a:last-child:after
{
    content:                "";
}



@media only screen and (max-width: 767px)
{
    footer
    {
        height:                 auto; /* 170px; */
        background-color:       darkcyan;
        flex-direction:         column;
        justify-content:        center;
    }
    footer > div:nth-child(1)
    {
        background-color:       pink;
        order:                  2;
    }
    footer > div:nth-child(2)
    {
        background-color:       yellow;
        order:                  3;
    }
    footer > div:nth-child(3)
    {
        background-color:       green;
        order:                  1;
    }
    footer > div:nth-child(3) > a
    {
        font-size:              1.0em;
    }
}

/* EOF */