/* index.css - Turku University, Course Virtual Machine site
   Styles specific to index page only
   10.11.2019 // Jani Tammi <jasata@utu.fi>
*/
:root
{
    --header-height:        9.0vw;
    --imenu-bg-color:       White; /* rgb(248, 248, 248); */
    --imenu-title-color:    rgb(102, 102, 102);
}
/*
body
{
}
*/
a:link
{
    color:                  var(--link-color);
    text-decoration:        none;
}
a:visited
{
    color:                  var(--link-color);
    text-decoration:        none;
}
a:hover
{
    color:                  var(--text-color);
    text-decoration:        none;
}
a:active
{
    color:                  var(--text-color);
    text-decoration:        none;
}


/*** HEADER ***************************************************/
/**************************************************************/
.header-row
{
    height:                 var(--header-height);
    max-height:             var(--header-height);
    min-height:             60px;
    margin-bottom:          3.0vw;
    background-color:       var(--header-bg-color);
}
.header-row:after
{
    content:                '';
    width:                  100%;
    height:                 10px;
    left:                   0px;
    bottom:                 0;
    top:                    -10px;
    margin:                 0;
    z-index:                -1;
    position:               relative; /* absolute; */
    -moz-box-shadow:        0px 5px 6px
                            rgba(0,0,0,.3); /* FF3.5+ */
    -webkit-box-shadow:     0px 5px 6px
                            rgba(0,0,0,.3); /* Saf3.0+, Chrome */
    box-shadow:             0px 5px 6px
                            rgba(0,0,0,.3); /* Opera 10.5, IE 9.0 */
}
.header-title
{
    font-family:            'Franklin Gothic Medium',
                            'Arial Narrow',
                            Arial, sans-serif;
    --y-scaler:             1.2;
    font-size:              3.6vw;
    font-weight:            700;
    text-transform:         uppercase;
    transform:              scale(1, var(--y-scaler));
    -webkit-transform:      scale(1, var(--y-scaler)); /* Safari and Chrome */
    -moz-transform:         scale(1, var(--y-scaler)); /* Firefox */
    -ms-transform:          scale(1, var(--y-scaler)); /* IE 9+ */
    -o-transform:           scale(1, var(--y-scaler)); /* Opera */
}
.header-site-logo
{
    max-height:             100%;
    max-width:              100%;
    height:                 100%;
}
.header-site-logo2
{
    max-height:             100%;
    max-width:              100%;
    height:                 100%;
    display:                none;
}
/* vertical center with flexbox        */
/* Used by index.html title */
.vflexbox {
    display:                -webkit-box;
    display:                -ms-flexbox;
    display:                flex;
    height:                 100%;
    -webkit-box-align:      center;
    -ms-flex-align:         center;
    align-items:            center;
    -webkit-box-pack:       center;
    -ms-flex-pack:          center;
    justify-content:        center;
}

/*** Index Menu ***********************************************/
/**************************************************************/
.imenu
{
    padding:                10px;
    border-radius:          10px;
    background-color:       var(--imenu-bg-color);
    -webkit-box-shadow:     0 10px 6px -6px #777;
    -moz-box-shadow:        0 10px 6px -6px #777;
    box-shadow:             0 10px 6px -6px #777;
}
.imenu-student
{
    margin-left:            5%;
    margin-right:           2%;
}
.imenu-lecturer
{
    margin-left:            2%;
    margin-right:           5%;
}

/* adapted from https://codepen.io/avithour/pen/xzNJaV */
.imenu-item
{
    font-size:              0.8rem;
    font-weight:            bold;
    border-radius:          5px;
    background:             var(--imenu-bg-color);
    margin:                 auto;
    margin-top:             5%;
    padding:                10px 25px;
    box-shadow:             0 1px 3px rgba(0,0,0,0.12),
                            0 1px 2px rgba(0,0,0,0.24);
    border-left:            10px solid var(--imenu-bg-color);
    -webkit-transition:     0.5s ease-out;
    -moz-transition:        0.5s ease-out;
    -o-transition:          0.5s ease-out;
    transition:             0.5s ease-out;
}
.imenu-item:hover
{
    border-left:            10px solid var(--utu-purple);
    box-shadow:             0 14px 28px rgba(0,0,0,0.25),
                            0 10px 10px rgba(0,0,0,0.22);
}
.imenu:last-child
{
    /* Applied to the last <A> */
    padding-bottom:          2rem;
}

/* STUDENTS and TEACHER titles for respective segments */
.imenu-title
{
    color:                  var(--imenu-title-color);
    font-family:            Verdana, Geneva, Tahoma, sans-serif;
    font-size:              2.6vw;
    font-weight:            bolder;
    text-transform:         uppercase;
    text-shadow:            5.0rem 1.0rem rgb(245,245,245);
    margin-left:            15px;
    margin-right:           15px;
}
.imenu-label
{
    font-size:              2.0vw;
}
.imenu-text
{
    font-size:              1.3vw;
    font-weight:            normal;
    white-space:            nowrap;
    text-overflow:          ellipsis;
    overflow:               hidden;
/*    width:                  100%; NOT bound to parent, somehow!?! */
    position:               absolute;
}
.imenu-icon
{
    font-size:              4.0vw;
    padding-top:            0.5vw;
    padding-left:           0.6vw;
    padding-right:          1.4vw;
}



div.imenu > a:link
{
    color:                  var(--text-color);
    text-decoration:        none;
}
div.imenu > a:visited
{
    color:                  var(--text-color);
    text-decoration:        none;
}


@media only screen and (max-width: 767px)
{
    .header-row
    {
        margin-bottom:          20px;
        min-height:             70px;
    }
    .header-site-logo
    {
        min-width:              195px;
        height:                 auto;
    }
    .imenu
    {
        margin-left:            10px;
        margin-right:           10px;
        margin-bottom:          25px;
    }
    .imenu-item
    {
        margin-top:             10px;
    }
    .imenu-title
    {
        font-size:              1.4em;
        text-shadow:            2.0rem 0.7rem rgb(245,245,245);
    }
    .imenu-label
    {
        font-size:              1.2em;
    }
    .imenu-text
    {
        font-size:              1.0em;
    }
    .imenu-icon
    {
        font-size:              2.6em;
        padding-top:            0.15em;
        padding-left:           0.1em;
        padding-right:          0.3em;
    }
}

@media only screen and (max-width: 500px)
{
    .header-title
    {
        font-size:              1.0rem;
    }
    .header-site-logo
    {
        display:                none;
    }
    .header-site-logo2
    {
        display:                block;
    }
    .col-sm-12
    {
        padding:                0;
    }
    .imenu
    {
        margin:                 0;
        padding:                0;
        border-radius:          0;
        -webkit-box-shadow:     0;
        -moz-box-shadow:        0;
        box-shadow:             0;
    }
}


/* EOF */