/*
 * box-sizing "magic"
 * https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
 * Without this, inner element's borders and paddings screw up sizing.
 */
*
{
  -webkit-box-sizing:           border-box;
  -moz-box-sizing:              border-box;
  box-sizing:                   border-box;
}

/*** Boostrap.css overrides **************************************************/

fieldset
{
  padding:                    6px;
  border:                     1px solid silver;
}
legend
{
  width:                      auto;
  font-size:                  1.2rem;
}

select#filelist
{
  height:                     80px;
  width:                      100%;
  overflow:                   hidden;
}

/*** JSONForm styles *********************************************************/
.jsonform-required > label:after
{
  content:                      ' *';
  color:                      red;
}
form.jsonform-hasrequired:after
{
  content:                      '* Required field';
  display:                      block;
  color:                      red;
  padding-top:                  1em;
}


/* Flow.js style - CURRENTLY UNUSED ******************************************/
.flow-progress
{
  display:none; 
  position:relative; 
  width:400px; 
  border: 1px solid #ddd; 
  padding: 1px; 
  border-radius: 3px; 
}
.flow-progress-bar
{ 
  background-color: #B4F5B4; 
  width:0%; 
  height:20px; 
  border-radius: 3px; 
}
.flow-progress-percent
{ 
  position:absolute; 
  display:inline-block; 
  top:3px; 
  left:48%; 
}